#main-container { 
    margin: 0px; 
    padding: 0 155px 0 5px; 
    width: 100%;
}

.right { 
    margin: 0 -150px 0 auto; 
    width: 100%; 
    float: right; 
    height: 100vh;
    display: block;  
}

.left { 
    float: left; 
    width: 150px; 
}

.right,
.left { 
    
}

.container-left {
    margin-left: 1px;
    width: 142px;
}

.container-right {
    margin: 2px;
}
