#main-container { 
    margin: 0px; 
    padding: 0 155px 0 5px; 
    width: 100%;
}

.right { 
    margin: 0 -150px 0 auto; 
    width: 100%; 
    float: right; 
    height: 100vh;
    display: block;  
}

.left { 
    float: left; 
    width: 150px; 
}

.right,
.left { 
    
}

.container-left {
    margin-left: 1px;
    width: 142px;
}

.container-right {
    margin: 2px;
}

.draw-metadata, input.wide-text-edit {
    background-color: #2196F3;
    color: #FFFFFF;
}

.draw-title {
    line-height: 1.2em;
    font-size: 1em;
    padding: 0;
}

input.wide-text-edit {
    font-size: 1.3em;
}

.draw-metadata a:hover {
    font-size: 1.3em;
    background-color: #2196F3;
    color: #FFFFFF;
    text-decoration: none;
}

.draw-metadata a:active, .draw-metadata a:hover, 
.draw-metadata a:visited, .draw-metadata a:link {
    text-decoration: none;
    color: #FFFFFF;
}


form.js-save-share {
    padding: 10px;
}