/* CSS declarations go here */

html, body, .h100, .row {
  height:100%;
}

.row > div.h100 {
  height:100%;
}

#canvas {
    border: 1px dotted grey;
    background-color: transparent;
}

.canvas_title h2 {
    margin: 0 0 0 5px;
    padding: 0;
}

.view_title_right * {
    display: inline-block;
}

#palette-container, #toolbar-container {
    overflow-y: scroll;
    padding: 0;
}

#palette-container {
    background-color: rgb(224, 224, 224);
}

#toolbar-container {
    background-color: rgb(224, 224, 224);
}

#color_palette ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block; 
}

.color_item {
    background-size: 20px 20px;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid white;
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
}

.color_item.active {
    border: 4px dashed black;
    color: white;
}

li.color_item span.glyphicon-tint {
    font-size: 2em;
    text-align: center;
}

ul.toolbar_items, ul.toolbar_items li {
    background-color: transparent;
}

li.toolbar_item {
    width: 80%;
    margin: 0 auto;
}

li.toolbar_item button {
    width: 100%;
}

li.toolbar_item span.glyphicon {
    font-size: 2em;
    text-align: center;
}

#toolbar .list-group-item {
    border: none;
}

#slider {
    min-height: 100px;
}


#drawingLineWidths a {
    width: 90%;
    height: 30px;
    margin: 0 auto;
    display: inline-block;
    /*border: 5px solid #FFF;*/
}

#drawingLineWidths a.list-group-item {
    /*padding: 5px 5px; */
    border: 1px dashed;   
    background-color: rgb(224, 224, 224);
}

#drawingLineWidths a.list-group-item.active {
    border: 2px solid black;   
}

#drawingLineWidths span {
    display: block;
    position: relative;
    top: 50%;
    width: 80%;
    background-color: black;
    margin: 0 auto;
}

div.np {
    padding: 0;
}


.full {
    height:100%;
    width: 100%;
    /*background: url(fingerpaint-7-1165451.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome_content {
    margin-top: 60px;
    margin-left: 30px;
    background-color: white;
    padding: 0 15px 15px 15px;
}


.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}