#paint-brushes-container {
    margin-top: 5px;
    padding-top: 4px;
}

.brush a {
    padding: 2px;
}

#paint-brushes-container .active {
    background-color: #fefefe;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);  
}

