.inl-bl { 
    display: inline-block; 
}

.colorpicker-large .colorpicker-saturation {
    width: 100px;
    height: 200px;
    background-size: 100px 200px;
}

.colorpicker-large .colorpicker-hue {
    width: 30px;
    height: 200px;
}

.colorpicker-large .colorpicker-color,
.colorpicker-large .colorpicker-color div {
    display: none;
}

