.inl-bl { 
    display: inline-block; 
}

#main-container {
    padding: 5px;
}

.colorpicker-large .colorpicker-saturation {
    width: 100px;
    height: 200px;
    background-size: 100px 200px;
}

.colorpicker-large .colorpicker-hue {
    width: 30px;
    height: 200px;
}

.colorpicker-large .colorpicker-color,
.colorpicker-large .colorpicker-color div {
    height: 30px;
}

